.stage-cube-cont {
  width: 50%;
  height: 225px;
  padding-top: 50px;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}


.container {
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
}


.container.about-page {
  margin: 0 auto 10% auto;
  width: 90%;
  h1 {
    font-family: 'Helvetica Neue';
    letter-spacing: -1px;
    color: #c8102f;
    font-weight: 600;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #c8102f;
      font-size: 18px;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #c8102f;
      font-size: 18px;
      line-height: 18px;
      left: -30px;
      bottom: -20px;
      opacity: 0.6;
    }
  }
  .flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

    p {
      font-size: 15px;
      color: black;
      font-family: sans-serif;
      font-weight: 300;
      text-align: left;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.3s;
      }
    }

  .text-zone {
      width: 50%;
      min-width: 300px;
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }

  .skills-list {
    display: flex;
    width: 80%;
    ul {
      padding-left: 0;
      width: 100%;
      li {
        display: flex;
        gap: 5px;
        list-style-type:none;
        animation: pulse 1s;
        &:nth-of-type(1) {
          animation-delay: 1.5s;
        }
        &:nth-of-type(2) {
          animation-delay: 1.6s;
        }
        &:nth-of-type(3) {
          animation-delay: 1.7s;
        }
        &:nth-of-type(4) {
          animation-delay: 1.8s;
        }
        &:nth-of-type(5) {
          animation-delay: 1.9s;
        }
        div {
          font-size: 15px;
          font-family: sans-serif;
        }
      }
    }
  }
}